body {
  margin: 0;
  font-family: 'rubik', sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

header {
  margin: 0;
  font-family: 'rubik', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'rubik', sans-serif;
}

.navbar-custom {
  color: rgb(0, 0, 0);
}

.round-header {
  color: rgb(0, 0, 0);
  margin-bottom:0;
  margin-top:0;
}

.jumbotron {
  display: flex;
  left: 0;
  bottom: 0;
  height: 90%;
  padding-bottom: 0;
  z-index: 4;
  margin-bottom:0px; 
  background-color: #ffffff;
}

.container {
  display: inline-block;
  align-self: flex-end;
  max-width: 60%;
  margin-left: 50px;
  margin-bottom: 70px;
  z-index: 3;
}

#headline {
  text-align: left;
  font: Regular 80px/95px Rubik;
  letter-spacing: 0px;
  color: #000000;
}

.headerbutton-custom {
  width: 310px;
  height: 60px;
  background: #056CF2 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 15px;
  opacity: 1;
  font: Bold 18px/22px Rubik;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.footerbutton-custom {
  width: 310px;
  height: 45px;
  background: rgb(255, 255, 255) 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 15px;
  opacity: 1;
  font: Bold 16px/18px Rubik;
  letter-spacing: 0.4px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  opacity: 1;
  box-shadow: 0 4px 4px rgba(58, 58, 58, 0.2);
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.headerbutton-custom:hover {background-color: rgb(5, 82, 184)}

.container-description {
  z-index: 4;
  position: relative;
  margin-top: 90vh;
  background: #056CF2 0% 0% no-repeat padding-box;
}

.container-stepone {
  background-color: #ffffff;
  z-index: 4;
  position: relative;
}

.text-container {
  margin-left: 50px;
  width: 60%;
  font-size: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: left;
  font: Regular 20px/26px Rubik;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  opacity: 1;
}

.text-container-stepone {
  margin-left: 50px;
  width: 60%;
  font-size: 20px;
  padding-top: 120px;
  padding-bottom: 120px;
  float: left;
  visibility: hidden;
}

.picturestep {
  padding-right: 60px;
  width:35%;
  float: right;
  margin-right: 0;
  padding-top: 90px;
}

#step3img {
  width: 100%;
  align-self: center;
}

#steponetext {
  color:#056CF2;
  font-weight: bold;
  margin-bottom: 0;
}

#steponehead {
  font-size:40px;
}

#person {
  align-self: flex-end;
  margin-bottom: 0px;
  margin-right: 8%;
  z-index: 3;
}

#icons {
  z-index: 0;
  position: absolute;
  align-self: flex-end;
  right: 0px;
  bottom: 100%;
  padding-right:10%;
}

#icons-img {
  z-index: 0;
  width:700%;
  align-self: flex-end;
  right: 50%;
  position: absolute;
  margin-bottom: 0px;
}

.transform-active {
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 0, 0);
  margin-top:-300;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

/* Animation https://codepen.io/themechills/pen/dMamgG */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  visibility: visible !important; 
}

#signupheaderbutton {
  border-radius:20px;
  margin-top:10px;
  min-width: 250; 
}

.navbar {
  z-index:10; padding: 0 50px; 
}

.navbar-round { display: inline-block; }
#mainlogo {
  width: 242px !important;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

.custom-footerstack {
  background-color: #F2F2F2;
  position: relative;
  height: 330px;
  clear: both;
  padding-top: 40px;
  text-align: left;
  display:block;
  padding-left: 50px;
  padding-right: 50px;
}

.custom-footer {
  background-color: #F2F2F2;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  display:block;
}

.footer-right {
  float: right;
  max-width: 250px;
}

.footer-right-top {
  float: right;
  max-width: 500px;
}


.footer-container {
  display: block ruby;
}

#home-link-footer {
  color: #000000;
}

#legal-link-footer {
  color: #000000;
  padding-left: 40px;
}

.container-addtool {
  background-color: rgb(114, 112, 112);
  z-index: 4;
  position: relative;
}

@media screen and (max-width: 900px) {
  .signup-form {
    flex-direction: column;
    justify-content: center;
  }
  .picturestep {
    float: left;
    width: 100%;
    padding-top:0;
  }
  .text-container-stepone {
    width: 100%;
    margin-top:20;
    padding:0;
  }

  #person {
    visibility: hidden;
  }

  .text-container {
    margin-left: 20px;
    width: 90%;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .text-container-stepone {
    margin-left: 20px;
    width: 80%;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    float: left;
  }

  .container {
    max-width: 90%;
  }

  #icons-img {
    padding-top: 40px;
    width: 90vw;
  }

  #steponehead {
    font-size: 30px;
  }

  .container {
    margin-left: 10px;
    width: 90%;
  }

  #mainlogo {
    padding-left: 10px;
  }
  .custom-footerstack {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .custom-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .signup-container {
      width: calc( 100% - 30px);
      max-width: 100%;
  }
}

@media (max-width: 400px) {
  #headline {
    font-size: 40px;
  }
  #icons-img {
    width: 100vw;
  }
  .container {
    margin-left: 10px;
  }
  #mainlogo {
    padding-left: 10px;
  }
}

@media (max-width: 40em) {
  #signup-btn {
    display: none;
  }
  #headline {
    font-size: 40px;
  }
  #icons-img {
    width: 400px;
  }
}


@import url("https://p.typekit.net/p.css?s=1&k=vxl7kbh&ht=tk&f=40446.40450&a=33378952&app=typekit&e=css");

@font-face {
  font-family:"rubik";
  src:url("https://use.typekit.net/af/9718df/00000000000000003b9b25b3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9718df/00000000000000003b9b25b3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9718df/00000000000000003b9b25b3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
  font-family:"rubik";
  src:url("https://use.typekit.net/af/5c74b2/00000000000000003b9b25b7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/5c74b2/00000000000000003b9b25b7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/5c74b2/00000000000000003b9b25b7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
}

.tk-rubik { font-family: "rubik",sans-serif; }


