{% include 'header.html' %}
<body class="text-center questionnaire">
    
<div class="cover-container d-flex w-100 h-100 pt-5 mx-auto flex-column">
  <header class="masthead pl-5 pr-5">
    <div class="inner">

        <h3 class="masthead-brand"><a href="https://toolmatching.com"><img id="mainlogo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" /></a></h3>
        <!-- <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    -->
    </div>
  </header>

  <main role="main" class="inner cover p-5 pt-0 pb-0">
    <div class="text-left">
      <h1 class="heading pt-3 pb-5 small">{{question}}</h1>
      <div class="container">
        <div class="row mb-3">
          <div class="col-sm">

          <!-- rangeslider.js | https://github.com/andreruffert/rangeslider.js -->
            <form oninput="output.value = Math.round(range.valueAsNumber)">
              <div class="range">
                <input name="range" type="range" min="{{min}}" max="{{max}}" step="{{step}}" value="{{default}}">
                <div class="d-flex justify-content-between range_values">
                  <div class="min">{{min}}</div>
                  <div class="max">{{max}}</div>
                </div>
                <div class="range-output">
                  <output class="output" name="output" for="range">
                    {{default}}
                  </output>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="mastfoot mt-auto no_bg">
    <div class="inner">
      <div class="nav pl-5 pr-5">
          <div class="back">
          </div>

          <div class="continue">
              <form action="questionnaire" id="questionnaire" method="POST">
                <input type="hidden" name="id" value="{{questionid}}">
                <input type="hidden" name="response">
              </form>
            <a>Continue
<svg xmlns="http://www.w3.org/2000/svg" width="9.621" height="16.243" viewBox="0 0 9.621 16.243"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}</style></defs><g transform="translate(2.121 2.121)"><path class="a" d="M9,18l6-6L9,6" transform="translate(-9 -6)"/></g></svg></a>
          </div>
      </div>
    </div>
  </footer>

</div>


<script>
    $('.continue').click(function(){
        $('#questionnaire input[name=response]').val($('#ranger').val());
        $('#questionnaire').submit();
    });
</script>
{% include 'footer.html' %}

