$font-family-sans-serif: 'Rubik', sans-serif;

$body-bg:                   #FFF;
$body-color:                #000000;

$blue:    #056CF2;

$grid-columns:      12;
$grid-gutter-width: 20px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1440px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1140px,
  xl: 1380px
);

@import "node_modules/bootstrap/scss/bootstrap";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: $blue;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #FFF; font-size: 20px;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: $body-color;
  background-color: #FFF;
}

.cover-container {
  max-width: 72em; padding-bottom: 0 !important;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  .masthead-brand {
  	color: $blue;
  	text-transform: uppercase; font-size: 1rem; font-weight: 400;
  	strong { font-weight: 900; }
  }
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
	padding-top: 0 !important;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  	background-color: #F2F2F2;
  	text-align: left;
	font: 20px/26px Rubik;
	padding: 20px;
	letter-spacing: 0.4px;
	color: #000000;
	padding: 20px 0;
	&.no_bg { background-color: #FFF; 
		padding-bottom: 50px;
	}
	p { margin: 0; padding: 0; padding-left: 3rem !important; padding-right: 3rem !important;}

	.nav { display: flex; justify-content: space-between; background-color: #FFF;
		.back { text-align: left;
			font: 20px/26px Rubik; font-weight: 900;
			letter-spacing: 0.4px;
			color: #000000;
			text-transform: uppercase;
		}
		a { color: #000;
			font: 20px/24px Rubik; letter-spacing: 0.4px; text-transform: uppercase; font-weight: 900;
			&:hover { color: #056CF2; text-decoration: none; }
		}
		.back { a { padding: 20px 20px 0 0;
				svg { position: relative; top: -2px; margin-right: 10px; display: inline-block; } 
			}
		}
		.continue { a { padding: 20px 0 0 20px; cursor: pointer; color: #056CF2 !important;
				svg {position: relative; top: -2px; margin-left: 10px; display: inline-block; } 
			}
		}
	}
}




/* Home */
.home {
	.home-main-wrap { background: url(../images/home-main.jpg) bottom right / 621px auto no-repeat #FFF; height: 621px; position: relative; 
	.home-main { width: 600px; position: absolute; bottom: 50px; }
	h1 { margin: 0; padding: 0; font: Regular 80px/95px Rubik; letter-spacing: 0px; color: #000000; font-weight: 400; }
	p { margin: 50px 0 0 0; 
		a { width: 450px; }
	}
	}
}

/* Questionnaire */

.heading { font: 80px/95px Rubik !important; letter-spacing: 0px; color: #000000; font-weight: 400; 
	&.small { font: 60px/75px Rubik !important; }
}

.questionnaire {
	.categories {
		.col-sm > div, .col-sm > a  { display: block;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			box-shadow: 0px 5px 20px #0000000D;
			border-radius: 20px;
			opacity: 1; text-align: center; padding: 20px;
		}
		.col-sm > a:hover, .col-sm > a.selected {
			background-color: #EFF6FE; text-decoration: none;
		}
	}

	.lead {
		margin-top: 100px; text-align: right; 
		a {
			font: 20px/26px Rubik; font-weight: 900; text-align: center;
			letter-spacing: 0.4px;
			color: #FFFFFF;
			text-transform: uppercase; padding-left: 50px; padding-right: 50px; 
		}
	}

}


.radio, .checkbox, .inputs {
  width: 100%;
  text-align: left;
  h1 {
    color: #FFF;
  }
  label { width: 100%; }

	&.w_415px .box { width: 415px; }
    
  .box {
  	width: 100%;
 	background-color: #FFF;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 24px 0;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 5px 20px #0000000D;
	border-radius: 20px;
	text-align: center;
	font: 20px/24px Rubik; font-weight: 900;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	svg { stroke:#000; color: #000; }

    &:active{
      transform: translateY(10px);
    }
    &.form-input {
    	padding: 12px 0 13px 0;
    }
  }

  input[type="radio"], input[type="checkbox"] {
    display: none;
    &:checked {
      + .box {
        background-color: #056CF2;
        color: #FFF;
        svg { stroke:#FFF; color: #FFF }
      }
    }
  }

  .yes {
  }
  .no {
  	svg {  transform: rotate(180deg); }
  }

	.form-control {
		border: none;
		font: 20px/24px Rubik; font-weight: 900; letter-spacing: 0.4px; text-transform: uppercase;

		&::placeholder { color: #D9D9D9; }
		&::placeholder { color: #D9D9D9; }
		&::placeholder { color: #D9D9D9; }

		&:focus {
		    background-color: #fff;
		    border-color: #7ab3fc;
		    outline: 0;
		    box-shadow: 0 0 0 0 rgba(5, 108, 242, 0);
		    border: none !important;
		}
	}



	.input-group-text {
		font-size: 1rem;
	    font-weight: 900;
	    line-height: 1.5;
	    color: #000;
	    text-align: center;
	    white-space: nowrap;
	    background-color: transparent !important;
	    border: none !important;
	    border-radius: 0; margin-right: 10px;
	}

}

.single_choice {

	.custom-control-label {
		font: 20px/30px Rubik;
		font-weight: 900;
		letter-spacing: 0.4px;
		color: #000000;

		text-transform: uppercase;
	}

}


input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    width: 100%;
    height: 6px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #056CF2),
        color-stop(0.15, #D9D9D9)
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #056CF2; border-radius: 50%;
    height: 15px;
    width: 15px;
}



$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$color-range-output: #056CF2;
$color-input-placeholder: #c3c4c6;
$height-range-bounds: 22px;
$background-color-range-thumb: #056CF2;
$radius-range-thumb: 100px;
$height-range-thumb: 12px;
$width-range-thumb: 12px;
$size-range-thumb-shadow: 0;
$color-range-thumb-shadow: rgba(#000, 0);
$shadow-offset-y-range-thumb: 4px;
$shadow-offset-x-range-thumb: 0px;
$border-width-range-thumb: 10px;
$border-color-range-thumb: #056CF2;
$width-range-track: 100%;
$height-range-track: 6px;
$radius-range-track: 100px;
$fill-range-track: #D9D9D9;
$fill-range-track-active: #056CF2;

//Output
$height-range-output: 60px;
$min-width-range-output: 32px;
$padding-x-range-output: 20px;
$size-range-output-arrow: 10px;
$offset-y-range-output: 4px;

.range {
	@mixin range-track() {
		box-sizing: border-box;
		width: $width-range-track;
		height: $height-range-track;
		background: $fill-range-track;
		border-radius: $radius-range-track;
	}
	@mixin range-thumb() {
		box-sizing: border-box;
		box-shadow: $shadow-offset-x-range-thumb $shadow-offset-y-range-thumb $size-range-thumb-shadow $color-range-thumb-shadow;
		border: $border-width-range-thumb solid $border-color-range-thumb;
		height: $height-range-thumb;
		width: $width-range-thumb;
		border-radius: $radius-range-thumb;
		background: $background-color-range-thumb;
		cursor: pointer;
	}

	position: relative;

	//Native
	input[type=range] {
		appearance: none;
		padding: 0;
		width: $width-range-track;
		height: $height-range-bounds;
		cursor: pointer;
		display: block;

		&:focus {
			outline: none;
		}
		&[disabled] {
			opacity: .3;
			cursor: default;
		}
	}

	//Plugin wrapper
	.rangeslider {
		position: relative;
		height: $height-range-bounds;
		cursor: pointer;
		user-select: none;
	}

	//Track
	.rangeslider:before {
		@include range-track();
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	input::-webkit-slider-runnable-track, {
		@include range-track();
		margin: $height-range-bounds / 2 0;
	}
	input::-moz-range-track {
		@include range-track();
		margin: $height-range-bounds / 2 0;
	}
	input::-ms-track {
		@include range-track();
		color: transparent;
		padding: $height-range-bounds / 2 0;
		background: transparent;
		border-color: transparent;
	}

	//Track fill
	input::-ms-fill-lower,
	input::-ms-fill-upper {
		@include range-track();
	}
	input::-ms-fill-lower {
		background: $fill-range-track-active;
	}
	.rangeslider-fill-lower {
		background-color: $fill-range-track-active;
		border-radius: $radius-range-track;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: $height-range-track;
		will-change: width;
	}

	//Thumb
	input::-webkit-slider-thumb {
		@include range-thumb();
		appearance: none;
		transform: translateY(-50%);
		margin-top: $height-range-track / 2;
	}
	input::-moz-range-thumb {
		@include range-thumb();
	}
	input::-ms-thumb {
		@include range-thumb();
	}
	.rangeslider-thumb {
		@include range-thumb();
		position: absolute;
		touch-action: pan-x;
		top: 50%;
		transform: translateY(-50%);
		will-change: left;
	}

	.range-output {

		position: absolute;
		left: ($width-range-thumb - $border-width-range-thumb * 2) / 2;
		top: ($width-range-thumb - $border-width-range-thumb * 2) / 2;
		transform-origin: 0 0;
		transition: transform .4s $easeOutBack;
		user-select: none;

		.output {
			display: block;
			position: absolute;
			height: $height-range-output;
			line-height: $height-range-output;
			min-width: $min-width-range-output;
			padding: 0 $padding-x-range-output;
			top: - ($width-range-thumb / 2) - $offset-y-range-output - $size-range-output-arrow;
			transform: translate(-50%, -100%);
			background: $color-range-output;
			color: #fff;
			border-radius: 100px;
			white-space: nowrap;
			font-weight: bold;
			font-size: 1.2em;
			text-align: center;

			&:before {
				content: "";
				position: absolute;
				bottom: - $size-range-output-arrow + 2px; //Subtract 2 to get slight overlap that renders more nicely
				left: 50%;
				border: $size-range-output-arrow solid $color-range-output;
				border-bottom: none;
				border-left-color: transparent;
				border-right-color: transparent;
				transform: translateX(-50%);
			}
		}
	}

	.range_values {
		letter-spacing: 0.4px; color: #D9D9D9; text-transform: uppercase;
	}
}